<h1>Add a Specialty:</h1>

<form action='/' method='post'>
  <label for='name'>Specialty</label>
  <input type='text' id='name' name='name'>
  <button type='submit' class='btn-success'>Add Specialty</button>
</form>
