<h1>Welcome to Doctor's Office</h1>
<h3>Choose Specialty:</h3>

<ol>
<% @specialties.each() do |specialty| %>
  <a href ='specialty/<%= specialty.id() %>'>
    <h3> <li> <%= specialty.name() %> </li> </h3>
  </a>
<% end %>
</ol>

<hr>
<a href='/add_specialty'><h3>Add Specialty</h3></a>
